header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: #222;
  color: white;
  font-family: "Roboto";
}

header nav a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
}

header nav a:hover {
  color: #ffcc00; /* highlight on hover */
}
